*{
    margin:  0;
    padding: 0;
}
body{
   
    font-family: 'Roboto', sans-serif !important;
}
a{
    text-decoration: none !important;
    color: white !important;

}
.container{
    width:100% !important;
    height: 100% !important;
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
}
.header{
    width:100% !important;
    height: 100px !important;
    background-color:#ffc000;
    border: 5px solid #F4A460;
    border-bottom-right-radius: 40px;
    display: flex;
    flex-direction: row;
    text-align: right;
}
.logo {
    width: 115px;
    height: 115px;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.containerTitulo{
    font-weight: bold;
    text-align:center;
    margin: 20px 0 0 0;
}
h6{
    
    font-weight: bold !important;
}
.containerForm{
    height: auto;
    display: flex;
    background-color:#FFFFE0 !important;
    flex-direction: column;
    justify-content: center;
    padding: 0 10% 0 10%;
    font-weight: bold;
    border-radius: 3%;
}
.btnMenu{
    cursor: pointer;
    font-size: 25px !important;
    background-color: #ffc000 !important;
    border: none !important;
    color: white !important;
    margin: 5px 0 0 10px !important;
    padding: 6px 12px;
}

.form-control,.form-select{
    border: none !important;
    background-color: #FFEBCD !important;
}

.btnn{
    font-size: 15px !important;
    background-color: #ffc000 !important;
    border: 5px solid orange !important;
    color: black !important;
    padding: 10px;
    border-radius: 30px;
    box-shadow: 1px 1px;
}
.btn-CadCan{
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10% 0 3% 0;
    position:relative;
}
.btnCadastrar{
    border-radius: 5px !important;
    font-weight: bold;
    margin: 0 5px 0 0 !important;
}
.btn-efeito {
    overflow:hidden;
    position:relative;
    background-color:#ffc000;
}
.btn-efeito:hover {
    background-color:#ffc000;
}
.btn-efeito span {
    z-index: 20;
}
.btn-efeito:after {
    background: #fff;
    content: "";
    height: 155px;
    left: -85px;
    opacity:.4;
    position: absolute;
    top: -60px;
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
    -webkit-transition: all 850ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 850ms cubic-bezier(0.19, 1, 0.22, 1);
    width: 70px;
    z-index:1;
}
.btn-efeito:hover:after {
    left: 130%;
    -webkit-transition: all 850ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 850ms cubic-bezier(0.19, 1, 0.22, 1);
}

.btnCadastrar:active{
        transform: scale(0.95);
    /*transform: scale(1.1);*/
}
.btnCancelar{
    border-radius: 5px !important;
    font-weight: bold;
    margin: 0 0 0 5px !important;
}
.btnCancelar:active{
    transform: scale(0.95);
    /*transform: scale(1.1);*/
}
.form-select{
    border: none !important;
    width: 91% !important;
    margin-left: 4% !important;
    margin-right:4% !important;
}
.containerFooter{
    width:100%;
    height: 50px;
    background-color:#ffc000;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.tituloFooter{
    font-size: 14px;
    /*    color: white;*/
    padding: 4%;
    margin: auto;
    position:relative;
    text-align: left;
}

.tituloFooterSpan{
    font-size: 14px;
    /*    color: white;*/
    margin: auto;
    padding: 4%;
    text-align: center;
}