*{
    margin: 0 ;
    padding: 0;
}
a{
    text-decoration: none !important;
}
body{
    font-family: 'Roboto', sans-serif !important;
}
header{
    width:100%;
    height: 100px !important;
    background-color:#ffc000;
    display:flex;
    flex-direction: row;
    border: 5px solid #F4A460;
    border-bottom-right-radius: 40px;
}
.tituloHeader{
    text-decoration: none !important;
    color: white ;
}

.logo {
    width: 115px;
    height: 115px;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.container{
    width: 100%;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.containerPrincipal{
    width: 400px;
    height: auto;
    margin-top:150px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.titulo{
    width: 100%;
    height: 50px;
    text-align:center;
    color: black !important;

}
.titulo a{
    display: flex;
    align-items: center;
    justify-content: center;
}
.calendarios{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.calInicial, .calFinal{
    width: 150px;
    height: 57px;
    border: 1px solid black;
    padding-top:0 !important;
    border-radius: 10px;
    font-weight: bold;
    background-color: #ffc000;
}
.calInicial{
    margin-top: 2rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}
.calFinal{
    margin-top: 2rem;
    margin-bottom: 1rem;
}
.calTitulo{
    width: 100%;
    text-align:center;
    border-bottom:1px solid black;
    margin-bottom: 0;
}
.calData{
    height: 15px!important;
}
.date{
    width: 100%;
    background-color:#FFFACD !important;
    border: none !important;
    text-align: center;
    font-size: 13px;
    padding-top:5px;
    padding-left: 10%;
}

input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}
.listaDespesas{
    width: 80%;
    height: 550px;
    border-radius: 10px;
    background-color:#FFFFE0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-y:scroll;
}

.itemDespesas{
    width: 90%;
    height: 70px;
    margin-top: 7.5px;
    margin-bottom: 7.5px;
    border-radius: 10px;
    box-shadow: 2px 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.itemDespesas .containerConteudo,
.containerValor{
    width: 100%;
    height: 100%;
    text-align:center;
    border:1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.itemDespesas .containerConteudo{
    width: 100%;
    height: 100%;
    text-align:center;
    border: 1px solid black;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.itemDespesas .containerValor{
    width: 40%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

}



footer{
    width:100%;
    height: 50px;
    background-color:#ffc000;
    text-align: center;
    bottom: 0;
    position:fixed;
    font-size: 14px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.containerFooter{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;

}
.tituloFooter, .copyrightFooter{
    width: auto;
    height: auto;
}
.ancoraTituloFooter{
    color:black !important;
}

.seletorDespesas{
    width: 100%;
    height: 50px;
    background-color:#DEB887;
    display:grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    margin-bottom: 13%;
}
.selecionaDespesa,.seletorConteudoDespesa{
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content:center;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    margin:auto;
    padding:auto;
    position: relative;
}

.btnSeletor{
    display: flex;
    flex-direction: row;
    justify-content:center;
    text-align: center;
    margin:auto;
    padding:auto;
    position: relative;
    cursor: pointer;
}
.btn{
    cursor: pointer;
    font-size: 25px !important;
    background-color: #ffc000 !important;
    border: none !important;
    color: white !important;
    margin: 5px 0 0 10px !important;
    padding: 6px 12px;

}


.btnEditar, .btnExcluir{
    width: 32px !important;
    height: 32px !important;
    margin-right: 5px !important;
    border: none !important;
    border-radius:50% !important;
    background-color: orange !important;
}
.btnEditar:active,.btnExcluir:active{
    transform: scale(0.95);
}

.btnExcluir{
    margin-right: 0 !important;
    margin-left: 5px;
}
.show-menu{
    visibility: visible;

}
.hidden-menu{
    visibility: hidden;
}

