*{
    margin: 0 ;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif !important;
}
header{
    width:100%;
    height: 100px !important;
    background-color:#ffc000;
    display:flex;
    flex-direction: row;
    border: 5px solid #F4A460;
    border-bottom-right-radius: 40px;
}
.tituloHeader{
    text-decoration: none !important;
    color: white ;
}

.logo {
    width: 115px;
    height: 115px;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.filtro {
    width: 32px;
    height: 32px;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.container{
    width: 100%;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.containerPrincipal{
    width: 400px;
    height: auto;
    margin-top:150px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.titulo{
    width: 100%;
    height: 50px;
    text-align:center;
    color: black !important;

}
.titulo a{
    display: flex;
    align-items: center;
    justify-content: center;
}
.listaDespesas{
    width: 80%;
    height: 550px;
    border-radius: 10px;
    background-color:#FFFFE0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-y:scroll;


}

.itemDespesas{
    width: 90%;
    height: 70px;
    margin-top: 7.5px;
    margin-bottom: 7.5px;
    /*border: 1px solid black;*/
    border-radius: 10px;
    box-shadow: 2px 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.itemDespesas:active{
    background-color:#FFDAB9;
    transform: scale(1.05);
}
.itemDespesas .containerData,
.containerConteudo,
.containerValor{
    width: 100%;
    height: 100%;
    text-align:center;
    border:1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.containerConteudo{
    display: flex;
    flex-direction: column;
    
}
.itemDespesas, .containerData{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.itemDespesas .containerConteudo{
    width: 100%;
    height: 100%;
    text-align:center;
}
.itemDespesas .containerValor{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    
}
.containerConteudo .containerNome{
    width: 100%;
    border-bottom: 1px solid black;
}
.containerConteudo .containerCategoria{
    padding: 3px;
}
.btn{
    cursor: pointer;
    font-size: 25px !important;
    background-color: #ffc000 !important;
    border: none !important;
    color: white !important;
    margin: 5px 0 0 10px !important;
    padding: 6px 12px;

}
.containerBtnAdd{
    width: auto;
    height: auto;
    border: none;
    right:0;
    top:0;
    position:absolute;
}
.btnAdd{
    cursor: pointer;
    background-color: #ffc000 !important;
    border: none !important;
}
.btnAdd:active{
    transform: scale(0.95)!important;
}

.containerFooter{
    width:100%;
    height: 50px;
    background-color:#ffc000;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.tituloFooter{
    font-size: 14px;
    /*    color: white;*/
    padding: 4%;
    margin: auto;
    position:relative;
    text-align: left;
}

.tituloFooterSpan{
    font-size: 14px;
    /*    color: white;*/
    margin: auto;
    padding: 4%;
    text-align: center;
}
.show-menu{
    visibility: visible;

}
.hidden-menu{
    visibility: hidden;
}
.seletorDespesas{
    width: 100%;
    height: 50px;
    background-color:#DEB887;
    display:grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    margin-bottom: 13%;
}
.selecionaDespesas,.seletorConteudoDespesas{
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content:center;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    margin:auto;
    padding:auto;
    position: relative;
}

.btnSeletor{
    display: flex;
    flex-direction: row;
    justify-content:center;
    text-align: center;
    margin:auto;
    padding:auto;
    position: relative;
    cursor: pointer;
}

.btnEditar, .btnExcluir{
    width: 32px !important;
    height: 32px !important;
    margin-right: 5px !important;
    border: none !important;
    border-radius:50% !important;
    background-color: orange !important;
}
.btnEditar:active,.btnExcluir:active{
    transform: scale(0.95);
}

.btnExcluir{
    margin-right: 0 !important;
    margin-left: 5px;
}
