* {
    margin: 0 ;
    padding: 0;
}
a {
    text-decoration: none !important;
}
body {
    font-family: 'Roboto', sans-serif !important;
}
.filtro {
    width: 32px;
    height: 32px;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.containerPrincipal {
    width: 400px;
    height: auto;
    margin-top: 120px;
    margin-bottom: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.titulo {
    text-align: center;
}
.paginaTitulo {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
}
.paginaSubtitulo {
    font-size: 18px;
    font-weight: bold;
}
.listaEntradas {
    width: 90%;
    border-radius: 10px;
    background-color: #FFFFE0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px;
}
.itemEntradas {
    width: 90%;
    height: 70px;
    margin-top: 7.5px;
    margin-bottom: 7.5px;
    border-radius: 10px;
    box-shadow: 2px 2px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.itemEntradas:active {
    background-color: #FFDAB9 !important;
    transform: scale(1.05);
}
.itemEntradas:hover {
    transform: scale(1.05);
    cursor: pointer;
}
.itemEntradas .containerData,
.containerConteudo,
.containerValor {
    width: 100%;
    height: 100%;
    text-align: center;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.containerConteudo {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.itemEntradas, .containerData {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.itemEntradas .containerConteudo {
    width: 100%;
    height: 100%;
    text-align: center;
}
.containerNome, .containerCategoria {
    width: 100%;
    padding: 5px 0;
}
.containerConteudo .containerNome {
    border-bottom: 1px solid black
}
.itemEntradas .containerValor {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.btn {
    cursor: pointer;
    font-size: 25px !important;
    background-color: #ffc000 !important;
    border: none !important;
    color: white !important; 
    margin: 5px 0 0 10px !important;
    padding: 6px 12px;
}
.containerBtnAdd {
    width: auto;
    height: auto;
    border: none;
    right: 0;
    top: 0;
    position: absolute;
}
.btnAdd {
    cursor: pointer;
    background-color: #ffc000 !important;
    border: none !important;
}
.btnAdd:active {
    transform: scale(0.95)!important;
}
.show-menu {
    visibility: visible;
}
.hidden-menu {
    visibility: hidden;
}
.seletorEntradas {
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: #DEB887;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
    font-size: 15px;
    font-weight: bold;
}
.seletorItem {
    margin: auto;
}
.btnEditar, .btnExcluir {
    width: 32px !important;
    height: 32px !important;
    border: none !important;
    border-radius: 50% !important;
    background-color: orange !important;
}
.btnEditar:active, .btnExcluir:active {
    transform: scale(0.95);
}