* {
    margin: 0 ;
    padding: 0;
}
body {
    font-family: 'Roboto', sans-serif !important;
}
.container-primario {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.container-primario__container-secundario {
    width: 400px;
    height: auto;
    margin-top: 120px;
    margin-bottom: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.header-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.back-button__caixa {
    width: 80px;
    height: 40px;
    border: 3px solid orange !important;
    background-color: #ffc000;
    color: black;
    font-size: 15px;
    text-align: center !important;
    border:none !important;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px;
}
.back-button__caixa:active {
    transform: scale(0.95);
}
.back-button__caixa__titulo {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    color: black;
}
.back-button--efeito {
    overflow: hidden;
    position: relative;
}
.back-button--efeito:after {
    background: #fff;
    content: "";
    height: 155px;
    left: -85px;
    opacity: .4;
    position: absolute;
    top: -60px;
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
    -webkit-transition: all 850ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 850ms cubic-bezier(0.19, 1, 0.22, 1);
    width: 70px;
    z-index: 1;
}
.back-button--efeito:hover:after {
    left: 130%;
    -webkit-transition: all 850ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 850ms cubic-bezier(0.19, 1, 0.22, 1);
}
.header-content__titulo {
    margin: auto 0;
    font-weight: bold;
    font-size: 20px;
    text-align: center !important;
}
.header-content__add-button {
    width: 60px;
    height: 60px;
    background-image: url("../img/add-button.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: none;
    background-color: transparent;
}
.container-primario__container-secundario__lista {
    width: 90%;
    border-radius: 10px;
    background-color: #FFFFE0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px;
}
.item-lista {
    width: 90%;
    height: 70px;
    margin-top: 7.5px;
    margin-bottom: 7.5px;
    border-radius: 10px;
    box-shadow: 2px 2px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.item-lista:active {
    background-color: #FFDAB9 !important;
    transform: scale(1.05);
}
.item-lista:hover {
    transform: scale(1.05);
    cursor: pointer;
}
.item-lista__nome {
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.seletor {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #DEB887;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
    font-size: 15px;
    font-weight: bold;
}
.seletor-item {
    margin: auto;
}
.editar-button, .excluir-button {
    width: 32px !important;
    height: 32px !important;
    border: none !important;
    border-radius: 50% !important;
    background-color: orange !important;
}
.editar-button:active, .excluir-button:active {
    transform: scale(0.95);
}
.show {
    visibility: visible;
}
.hidden {
    visibility: hidden;
}