*{
    margin: 0 ;
    padding: 0;
}
body {
    width: 100%;
    height: 500px;
    font-family: 'Roboto', sans-serif !important;
    background-color: #FFFFE0 !important;
}
.header{
    width:100%;
    height: 100px !important;
    background-color:#ffc000;
    display:block;
}
.headerTitulo{
    text-align: center;
    color: white;
    font-size: 20px;
    margin-top: 10px;
}
.btn{
    font-size: 25px !important;
    background-color: #ffc000 !important;
    border: none !important;
    color: white !important;
}
.titulo{
    color:white;
    padding-top:5% !important;
    margin-left: 5% !important;
}
.btnAdd{
    cursor: pointer;
    color: #FFFFE0;
    background-color: #ffc000 !important;
    border: none !important;
    height: 55px;
    width: 100px;
    position: absolute;
    top: 0;
    right: 0;
}
.btnAdd:active{
    transform: scale(0.95)!important;
}
.listaDespesas{
    width: 100%;
    height: auto;
    overflow:hidden;
    margin-top:100px;
    margin-bottom:50px;
}
.itemDespesas{
    width: 100%;
    height: 100px;
    background-color:#FFFACD;
    display:flex;
    flex-direction: row;
    align-item: center;
    justify-content: space-between;
}
.itemDespesas:hover{
    background-color:#FFDAB9 !important;
}
.conteudoDespesas{
    width: 33.33%;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:flex-start;
    font-size: 15px;
    font-weight: bold;
    margin-left: 10px;
}
.spanTipo{
    color: #A9A9A9;
}
.precoDespesas{
    width: 33.33%;
    font-size: 15px;
    font-weight: bold;
    color: red;
    text-align: center;
    margin: auto 0;
}
.itemBotoes {
    width: 33.33%;
    margin: auto 0;
    margin-right: 10px;
}
.containerFooter{
    width:100%;
    height: 50px;
    background-color:#ffc000;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.tituloFooter{
    font-size: 14px;
    padding: 4%;
    margin: auto;
    position:relative;
    text-align: left;
}
.tituloFooterSpan{
    font-size: 14px;
    margin: auto;
    padding: 4%;
    text-align: center;
}
.show-menu{
    visibility: visible;
}
.hidden-menu{
    visibility: hidden;
}
.btnExcluir{
    margin-left: 20px;
}